@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.selected {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.15) inset,
    -5px -5px 5px rgba(255, 255, 255, 0.25) inset;
}

.unselect {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) inset,
    -4px -4px 4px rgba(255, 255, 255, 0.2) inset;
}
